<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>wkt</title>
  <script src="/js/tailwindcss.js"></script>
    <script src="/js/force-title.js"></script>
    <script src="/js/navigate.js"></script>
</head>
<body class="bg-gray-900 text-white min-h-screen flex items-center justify-center transition-colors duration-300">

  <button class="back-button fixed top-5 left-5 z-50 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-lg transform transition-all duration-300 ease-in-out flex items-center space-x-2" onclick="window.location.href='/tools'">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
      <span>戻る</span>
  </button>

  <div class="w-full max-w-md p-8 bg-gray-800 rounded-xl shadow-xl">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-purple-600 mb-6">HTML Proxy</h1>
      <p class="text-gray-400 mb-8">ウェブサイトのHTMLを取得して、確認できます。</p>
      <input type="text" id="searchBar" placeholder="URLを入力" class="w-full p-4 bg-gray-700 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 mb-6 placeholder-gray-400 transition duration-300 hover:bg-gray-600">
      <button id="redirectButton" class="w-full py-3 bg-gradient-to-r from-blue-500 to-indigo-600 text-white font-semibold rounded-lg shadow-md hover:from-blue-600 hover:to-indigo-700 transition duration-200 ease-in-out">
        URLを取得
      </button>
      <p class="mt-6 text-sm text-gray-400">サイトによっては、UIが壊れることがあります。また、X-Frame-OptionsヘッダーやCSP設定で取得できない場合があります。</p>
    </div>
  </div>

  <script>
    document.getElementById('redirectButton').addEventListener('click', () => {
      const url = document.getElementById('searchBar').value.trim();
      // サーチバーからURLを取得
      if (!url) {
        alert('URLを入力してください');
        return;
      }
      const replacedUrl = url.replace(/\./g, '.wakame02.');
      const redirectUrl = `/tools/html/get/${encodeURIComponent(replacedUrl)}`;
      window.location.href = redirectUrl;
    });
  </script>
</body>
</html>
